
<%- include("header") %> 

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">
    <% listItems.forEach((item) => { %>
        <form action="/delete" method="post">
            <div class="item">
                <input name="itemId" type="checkbox" value="<%= item.id %>" onChange="this.form.submit()">
                <input type="hidden" name="listId" value="<%= listId %>">
                <input type="hidden" name="listName" value="<%= listTitle %>">
                <p><%= item.name %></>
            </div>  
        </form>
    <% }); %>

    <form class="item" action="/add" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <input type="hidden" name="listId" value="<%= listId %>">
        <button type="submit" name="listName" value="<%= listTitle %>">+</button>
    </form>
</div>
    
<%- include("footer") %> 